#container {
    width: 100vw;
    height: 100vh;
    background-color: darksalmon;
    display: grid;
    grid-template-areas: 
    "Header"
    "Main"
    "Footer";
    grid-template-rows: 0fr 1fr 0fr;
    
}

body {
    margin: 0px;
}

header {
    grid-area: Header;
    background-color: rgb(111, 202, 193);
}

footer {
    grid-area: Footer;
    background-color:  rgb(111, 202, 193);
}

#main {
    grid-area: Main;
    display: grid;
    background-image: url(./../misc/Blender/TestRenders/TestRender004.png);
    background-position: center;

    display: grid;
    grid-template-areas: 
    ". . ."
    ". Micro ."
    "Ram Cable Pie";
    grid-template-rows: 33% 34% 33%;
    grid-template-columns: 33% 34% 33%;
}

#MicroCrisps {
    grid-area: Micro;
    background-color:  rgba(111, 202, 193, 0.911);
    border-radius: 20px;
    margin: 10%;
    border-style: solid;
    border-color:rgb(226, 226, 101);
    border-width: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#RamDipLink {
    grid-area: Ram;
}

#RaspberryPieLink {
    grid-area: Pie;
}

#CablePastaLink {
    grid-area: Cable;
}

.MainPageLinkBox {
    margin: 15%;
    background-color: rgba(226, 226, 101, 0.562);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(216, 34, 104);
}